---
function boton(){
    console.log('Hola mundo');
}
---

<button class="bg-black text-white" id="boton">Color</button>

<script>
    const boton = document.getElementById("boton");

    boton?.addEventListener('click',function(){
        console.log('hola mundo');
    })
</script>