*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF;
    background-color: black;
}

h2{
    margin-top: 2%;
}
.padre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.primer_nav {
    width: 60%;
    height: 10%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


select{
    border-color: transparent;
    background-color: black;
    color: white;
    border: 0%;
    border-style: none;
}


.segundo_nav {
    height: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.segundo_nav,button {
    color: white;
    background-color: black;
    border-color: antiquewhite;
    height: 35px;
    margin-top: 0.5%;
}

.segundo_nav,p {
    height: 50px;
}

.madre { 
    margin-top: -4%;
    height: 440px;
    margin: 3px black;
    background: rgb(245,232,41);
    background: linear-gradient(90deg, rgba(245,232,41,1) 3%, rgba(242,94,19,1) 12%, rgba(172,38,48,0.9416141456582633) 100%);
}
.texto {
    display: flex;
    flex-direction: column;
    margin-left: 49%;
    width: 500px;
    margin-top: 4%;
}

main img{
    height: 500px; 
    width: 800px;
    margin-top: -5%;
    padding: 0%;
}

.botones{
    margin-left: 49%;
    margin-top: -25%;
    width: 500px;
}

.boton{
    width: 200px;
    border-color: black;
    
}

.boton2 {
    width: 200px;
    border-color: white;
    margin-left: 2%;
    background: linear-gradient(90deg, rgba(242,94,19,1) 12%, rgba(172,38,48,0.9416141456582633) 100%);
}

.cards{
    width: 100%;
    display: grid;
    height: 100px;
    grid-template-columns: 25% 25% 40%;
    gap: 5%;
    background-color: black;
    
}

.card{
    width: 100%;
    background-color: gray;
    padding: 0%;
    margin: 9%;
}

.card img{
    width: 15%;
    height: 1.5rem;
}

.card .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.primero{
    background-color: black;
}

.texto_final{
    background-color: black;
}
.title h5{
    padding: 1rem;
}

.angu{
    display: flex;
    margin-left: 85%;
    margin-top: -5%;
}

@media screen and(max-width: 767px){
    
}