---
interface Props {
	title: string;
   
}

const { title} = Astro.props;
---

<div class:list={
    [
        "flex justify-center items-center w-full h-screen",
    ]}
    >

    <main class:list={
        ["bg-yellow-100 w-3/4 h-40 flex justify-center items-center ",

        ]
    }>
  
   <div class:list={

         [   
        "bg-gray-200 w-10 h-10 rounded-full flex justify-center items-center",
                
        ]    

        }>
            <h6 class:list={
                [
                "text-black tex t-2xl font-bold",
                
                ]
            }>
                <h6>1</h6>
            </h6>

    </div>


   <div class:list={
            [
                "w-32 h-1 bg-black",
            ]
        }>

    </div>
   

<div class:list={

    [
     "bg-gray-200 w-10 h-10 rounded-full flex justify-center items-center",

     ]  
        
    }>
        <h6 class:list={
            [
            "text-black tex t-2xl font-bold",
            
            ]
            }>
            <h6>2</h6>
        </h6>
</div>

<div class:list={
    [
        "w-6 h-1 bg-black",
    ]
    }>

</div>

<div class:list={

    [
     "bg-gray-200 w-10 h-10 rounded-full flex justify-center items-center",

     ]  
  
    }>

        <h6 class:list={
            [
            "text-black tex t-2xl font-bold",
            
            ]
        }>
            <h6>3</h6>
        </h6>
</div>

<div class:list={
    [
      "w-6 h-1 bg-black"
    ]
    }>

</div>

<div class:list={

    [
     "bg-gray-200 w-10 h-10 rounded-full flex justify-center items-center",

     ]
       
    }>

        <h6 class:list={
            [
            "text-black tex t-2xl font-bold",
            
            ]
        }>
            <h6>4</h6>
        </h6>
</div>

    </main>
</div>

<button class:list={
        [
            
        ]
    }>

</button>

