---
import Layout from "../layouts/Layout.astro";
import HiddenSearchWidget from "../components/HiddenSearchWidget.astro";
---

<Layout title="Welcome to Astro.">
   <div class="flex h-screen w-full p-6">
        <HiddenSearchWidget/>
   </div>   
</Layout>