*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ojos{
   display: flex;
   justify-content: center;
   align-items: center;
   animation-name: ojitos;
   animation-duration: 6s;
   animation-iteration-count: infinite; 
    
}

.ojo1 {
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10%;
}

.ojo2 {
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

@keyframes ojitos{
    0%{
    }
    40%{
        transform: translate(50px,50px) ;
        
    }
    60%{
        transform: translate(60px,-40px);
    }
    80%{
        transform: translate(0px,0px);
    }
}

