.padre{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.texto{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    text-align: center;
    align-items: center;
    color: rgba(245, 245, 220, 0.493);
}

.cajas{
    display: flex;
    justify-content: space-around;
    margin-top: -2%;
    height: 300px;
    background-size: 300px;
}

.numero{
  font-size: 30px;
  margin-top: -2%;
  width: 200px;
  height: 300px;
  margin-left: 4%;
}

.transparente:hover{
    color: transparent;
    background: transparent;

}


.caja1{
    border-radius: 3%;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    background-image: url(mariposa1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3%;
}

.transparente{
    width: 200px;
    height: 300px;
    background: linear-gradient(125deg, white 0%, rgba(243, 235, 1, 0)50%, white 100%);
    margin-top: 2%;
    border-radius: 3%;
}

.caja2{
    border-radius: 3%;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    background-image: url(mariposas2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caja3{
    border-radius: 3%;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    background-image: url(mariposa3.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-position: center;
}

.caja4{
    border-radius: 3%;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    background-image: url(arcoiris.jpg);
    background-size: cover;
    background-position: center;
}

p{
    font-size: 60px;
    border-radius: 5px;
   

}

.madre{
    margin-left: 15%;
    margin-top: -2%;
}
.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 43, 40, 0.493);
    width: 600px;
    padding: 5px;
    margin: 50px;
    height: 64px;
    margin-left: 15%;
}

.botones{
    text-align: center;
    display: flex;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 3px;
   
} 


.boton1{
    color: aliceblue;
    background-color: transparent;
    border-color: transparent;
    font-size: 45px;
}

.boton2{
    color: aliceblue;
    background-color: transparent;
    border-color: transparent;
    font-size: 45px;
    margin: -2%;
}

button{
    margin: 5px;
    border-radius: 5px;
}

.boton{
    border-color: transparent;
    height:60px;
    width: 60px;
    font-size: 25px;
    color: rgba(0, 0, 255, 0.521);   
}

.boton:hover{
    background-color: white;
    background-color: rgb(70, 70, 235);   
    color: white;
}

.punto{
    font-size: 60px;
    margin-top: 10%;
    color: white;
    height:58px;
    width: 59px;
    padding-bottom: 20px;
}

.linea{
    height: 2px;
    width: 200px;
    border-bottom: 2px dotted gray;
    /* display: flex;
    align-items: center; */
}


