---
import TeamComponent from "../components/Team.astro"
import Layout from "../layouts/Layout.astro"


const {body } = Astro.props;
---

<Layout body=''>
    <TeamComponent >
        <div>
            <h1>{body}</h1>
               
            <p>hola este es un mensaje</p>
           
        </div>
        <p slot="head">hola</p>
        <p slot="llamada">segundo componente</p>
    </TeamComponent>
</Layout>
