.padre {
    background-color: blueviolet;
}

.consulta_x{
    display: flex;
    justify-content: space-between;
   
}

.consulta a {
    color: black;
}

.x a {
    text-decoration: none;
    color: gray;
}

.navegacion {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.despegar { 
    width: 100px;
}

.despegar img {
    height: 65px;
    width: 150px;
}

.barra {
    width: 310px;
    margin-right: 2%;
    height: 49px;
    border-radius: 0% 0% 0% 20%;
    background-color: aliceblue;
    margin: 0%;
}

ul {
    list-style: none;
    display: flex;
   
    width: 290px;
    display: flex;
    justify-content: space-around   ;
    margin: 2%;
    
}

li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.madre {
    align-items: end;
    display: flex;
}

svg{
    padding:0% 2%;
}

.barra2 {
    background-color: white;
    height: 73px;
    display: flex;
    justify-content: flex-start;
    text-align: start;
}

.barra2 ul {
    background-color: white;
    width: 800px;
    display: flex;
    justify-content: space-around;
}   

.barra2 a {
    color: gray;
}

.icons{
    width: 300px;
    height: 20px;
}

.requisitos{
    margin: 2% 5%;
    padding: 0% 0%;
    text-align: start;
}

ul,.requisitos2{
    background-color: brown;
    width: 500px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    margin: 2%;
    padding: 0% 0%;
    text-align: start;
}

h2,p {
    margin-left: 1.5%;
}

.opciones{
   
    display: flex;
    justify-content: space-between;
}

.ida_vuelta{
    padding: 1.2%;
    width: 450px;
}

input {
    height: 15px;
    width: 20px;
}
.vuelos_reserva {
    background-color: antiquewhite;
    width: 1000px;
    height: 320px;
    margin-left: 8.5%;
    border-top-left-radius: 1%
}

.titulo {
    padding: 2% 0% 0%;
    margin: 1% 1% 0%;
}

p{
    padding: 0% 0% 2%;
}

.span2 {
    width: 970px;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    margin-left: -7%;
}

.origin{
    margin-left: -0.2%;
}

.destino2 {
   margin-left: 0.5%;
}

.viajes2 {
    width: 970px;
    display: flex;
    justify-content: space-between;
}

.una_palabra {
    width: 210px;
    height: 30px;
}

.dos_palabras {
    width: 190px;
    margin-left: -0.5%;
    height: 30px;

}


.fecha_importante{
    width: 55px;
    margin-left: -2%;
}

.fecha {
    width: 100px;
    height: 30px;
    
}

.fecha1 {
    width: 100px;
    height: 30px;
    
}


.fechas2 {
    margin-bottom: 2%;
}

.personas {
    width: 178px;
    height: 30px;
}


button{
    width: 100px;
    height: 30px;
}

.decidir_fecha {
    display: flex;
    justify-content: center;
    margin-left: 11%;
}

.check{
    margin: 0%;
}

.personas_mayores{
    padding: 0% 1.3%;
}

.check2{
    margin: 0%;
}