/*Inicio del programa */
body{
    margin: 3%;
    font-family: georgia;
    background-color: rgba(95, 158, 160, 0.589);
}

/*Todo lo siguiente es el contenido de la pagina*/

h1{
    text-align: center;
}

h2{
    margin-top: 5%;
}

/*estilo de los enlaces*/

[href]{
    text-decoration: none;

}

/*Estilo de la imagen*/

img {
    display: flex;
    margin-left: 50%;
    text-align: center;
    height: 30px;
    margin-top: 5%;
}

/*Color de enlaces de abajo de la pagina
*/
.lista{
    color: rgb(15, 112, 36);
}